body{
	font-weight: normal;
	color: #333333;
	font-family: ãƒ¡ã‚¤ãƒªã‚ª;
	font-size: 16px;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

img{
	width: 100%;
}

header h1{
  text-align: center;
}

.btn_01{
  width: 200px;
  text-align: center;
  background-color: rgb(241, 91, 116);
  color: #fff;
  padding: 20px;
  margin: 0 20px 0 450px;
}

.btn_02{
  width: 200px;
  text-align: center;
  background-color: green;
  color: #fff;
  padding: 20px;
  margin: 0 -10px;
}

.menu{
  display: flex;
  justify-content: space-around;
  padding: 25px 0;  
}

.wrapper{
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.sec_01_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .sec_01_right{
    width: 30%;
    padding: 50px 0;
  }

  .sec_01_left{
    width: 70%;
  padding-right: 100px;
}

.sec_01_left h2{
  margin-bottom: 10px;
}

.sec_02_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec_02_content p{
  padding-top: 20px;
  padding-bottom: 100px;
}

.sec_02 h1{
  padding-top: 30px;
  padding-bottom: 20px;
}